In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [3]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [4]:
df.shape

(1586614, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [6]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [7]:
# review_overall shows 0 - does this mean it wasn't reviewed and can be excluded from model?
df.loc[df['review_overall']==0]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
37234,1413,Desert Edge Brewery,1030197670,0.0,2.0,0.0,beernut7,Czech Pilsener,3.0,2.0,Pub Pils,4.0,3806
39648,1413,Desert Edge Brewery,1030267158,0.0,4.0,0.0,beernut7,Irish Dry Stout,2.0,2.0,Latter Days Stout,4.0,3804
39667,1413,Desert Edge Brewery,1030266889,0.0,3.0,0.0,beernut7,American Pale Ale (APA),2.0,2.0,Utah Pale Ale,4.0,3810
653695,1412,Red Rock Brewing Company,1030007859,0.0,2.0,0.0,beernut7,Hefeweizen,2.5,2.0,Red Rock Bavarian Weiss,4.0,3788
653706,1412,Red Rock Brewing Company,1030008142,0.0,3.0,0.0,beernut7,American Amber / Red Ale,2.5,3.5,Red Rock Amber Ale,4.0,3787
653726,1412,Red Rock Brewing Company,1030007737,0.0,2.0,0.0,beernut7,German Pilsener,3.0,1.5,Red Rock Pilsner,4.0,3822
653740,1412,Red Rock Brewing Company,1030008039,0.0,2.0,0.0,beernut7,Dunkelweizen,2.5,2.0,Red Rock Dunkel Weizen,4.0,3786

In [8]:
df.isnull().any()

brewery_id            False
brewery_name           True
review_time           False
review_overall        False
review_aroma          False
review_appearance     False
review_profilename     True
beer_style            False
review_palate         False
review_taste          False
beer_name             False
beer_abv               True
beer_beerid           False
dtype: bool

In [9]:
df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [10]:
df.isnull().sum() * 100 / len(df)

brewery_id            0.000000
brewery_name          0.000945
review_time           0.000000
review_overall        0.000000
review_aroma          0.000000
review_appearance     0.000000
review_profilename    0.021934
beer_style            0.000000
review_palate         0.000000
review_taste          0.000000
beer_name             0.000000
beer_abv              4.272306
beer_beerid           0.000000
dtype: float64

In [11]:
# check for id column / unique column
for col in df:
    print(f'{col}: {df[col].is_unique}')

brewery_id: False
brewery_name: False
review_time: False
review_overall: False
review_aroma: False
review_appearance: False
review_profilename: False
beer_style: False
review_palate: False
review_taste: False
beer_name: False
beer_abv: False
beer_beerid: False

In [12]:
# unique values in each columns
for x in df.columns:
    #printing unique values
    print(x ,':', len(df[x].unique()))

brewery_id : 5840
brewery_name : 5743
review_time : 1577960
review_overall : 10
review_aroma : 9
review_appearance : 10
review_profilename : 33388
beer_style : 104
review_palate : 9
review_taste : 9
beer_name : 56857
beer_abv : 531
beer_beerid : 66055

In [13]:
# unique counts of target variable
print(df['beer_style'].unique())
df['beer_style'].value_counts().head(25)

['Hefeweizen' 'English Strong Ale' 'Foreign / Export Stout'
 'German Pilsener' 'American Double / Imperial IPA' 'Herbed / Spiced Beer'
 'Light Lager' 'Oatmeal Stout' 'American Pale Lager' 'Rauchbier'
 'American Pale Ale (APA)' 'American Porter' 'Belgian Strong Dark Ale'
 'American IPA' 'American Stout' 'Russian Imperial Stout'
 'American Amber / Red Ale' 'American Strong Ale' 'Märzen / Oktoberfest'
 'American Adjunct Lager' 'American Blonde Ale' 'Euro Pale Lager'
 'English Brown Ale' 'Scotch Ale / Wee Heavy' 'Fruit / Vegetable Beer'
 'American Double / Imperial Stout' 'Belgian Pale Ale' 'English Bitter'
 'English Porter' 'Irish Dry Stout' 'American Barleywine'
 'Belgian Strong Pale Ale' 'Doppelbock' 'Maibock / Helles Bock'
 'Pumpkin Ale' 'Dortmunder / Export Lager' 'Euro Strong Lager'
 'Euro Dark Lager' 'Low Alcohol Beer' 'Weizenbock'
 'Extra Special / Strong Bitter (ESB)' 'Bock'
 'English India Pale Ale (IPA)' 'Altbier' 'Kölsch' 'Munich Dunkel Lager'
 'Rye Beer' 'American Pale Wheat Ale' 'Milk / Sweet Stout' 'Schwarzbier'
 'Vienna Lager' 'American Amber / Red Lager' 'Scottish Ale' 'Witbier'
 'American Black Ale' 'Saison / Farmhouse Ale' 'English Barleywine'
 'English Dark Mild Ale' 'California Common / Steam Beer' 'Czech Pilsener'
 'English Pale Ale' 'Belgian IPA' 'Tripel' 'Flanders Oud Bruin'
 'American Brown Ale' 'Winter Warmer' 'Smoked Beer' 'Dubbel'
 'Flanders Red Ale' 'Dunkelweizen' 'Roggenbier'
 'Keller Bier / Zwickel Bier' 'Belgian Dark Ale' 'Bière de Garde'
 'Japanese Rice Lager' 'Black & Tan' 'Irish Red Ale' 'Chile Beer'
 'English Stout' 'Cream Ale' 'American Wild Ale'
 'American Double / Imperial Pilsner'
 'Scottish Gruit / Ancient Herbed Ale' 'Wheatwine'
 'American Dark Wheat Ale' 'American Malt Liquor' 'Baltic Porter'
 'Munich Helles Lager' 'Kristalweizen' 'English Pale Mild Ale'
 'Lambic - Fruit' 'Old Ale' 'Quadrupel (Quad)' 'Braggot'
 'Lambic - Unblended' 'Eisbock' 'Berliner Weissbier' 'Kvass' 'Faro'
 'Gueuze' 'Gose' 'Happoshu' 'Sahti' 'Bière de Champagne / Bière Brut']

American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
American Porter                      50477
American Amber / Red Ale             45751
Belgian Strong Dark Ale              37743
Fruit / Vegetable Beer               33861
American Strong Ale                  31945
Belgian Strong Pale Ale              31490
Saison / Farmhouse Ale               31480
American Adjunct Lager               30749
Tripel                               30328
Witbier                              30140
Hefeweizen                           27908
American Barleywine                  26728
American Brown Ale                   25297
American Stout                       24538
American Pale Wheat Ale              24204
Märzen / Oktoberfest                 23523
English Pale Ale                     23402
German Pilsener                      22155
Doppelbock                           21699
Winter Warmer                        20661
Name: beer_style, dtype: int64

In [14]:
df_cleaned = df.copy()

In [15]:
df_cleaned.drop(['review_profilename', 'beer_name'], axis=1, inplace=True)
df_cleaned.drop_duplicates(inplace= True)
df_cleaned.columns = df_cleaned.columns.str.strip()
#target = df_cleaned.pop('beer_style')

In [16]:
#df_cleaned['review_time']=pd.to_datetime(df_cleaned['review_time'],unit='s')

#print(df_cleaned.dtypes)

#df_cleaned.head()

In [17]:
# handle null values in brewery_name, beer_abv

#from sklearn.impute import SimpleImputer
#num_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#cat_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='Unknown')
#cat_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

#df_cleaned[['beer_abv']] = num_imputer.fit_transform(df_cleaned[['beer_abv']])
#df_cleaned[['brewery_name']] = cat_imputer.fit_transform(df_cleaned[[,'brewery_name']])

In [18]:
# handle null values in brewery_name, beer_abv

#df_cleaned['beer_abv'] = df_cleaned['beer_abv'].replace(np.nan, df_cleaned['beer_abv'].mean())
#df_cleaned['brewery_name'] = df_cleaned['brewery_name'].fillna('Unknown')

# OR DROP
df_cleaned.dropna(inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)

In [19]:
df_cleaned.isnull().sum() * 100 / len(df_cleaned)

brewery_id           0.0
brewery_name         0.0
review_time          0.0
review_overall       0.0
review_aroma         0.0
review_appearance    0.0
beer_style           0.0
review_palate        0.0
review_taste         0.0
beer_abv             0.0
beer_beerid          0.0
dtype: float64

In [20]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder, OneHotEncoder

In [21]:
sc = StandardScaler()

In [22]:
num_cols = df_cleaned.select_dtypes([np.number]).columns
#df_cleaned.select_dtypes([np.number]).columns
#num_cols = ['brewery_id', 'review_time', 'review_overall', 'review_aroma',
 #      'review_appearance', 'review_palate', 'review_taste', 'beer_abv',
 #      'beer_beerid']

In [23]:
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

In [24]:
oe = OrdinalEncoder()
le = LabelEncoder()

In [25]:
cat_cols = df_cleaned.select_dtypes(exclude=[np.number]).columns
#df_cleaned.select_dtypes(exclude=[np.number]).columns

In [26]:
# unique values in each columns
for x in df_cleaned[cat_cols].columns:
    #printing unique values
    print(x ,':', len(df_cleaned[x].unique()))

brewery_name : 5155
beer_style : 104

###delete from here

ohe = OneHotEncoder(sparse=False)
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

X_cat.columns = ohe.get_feature_names(cat_cols)

df_cleaned.drop(cat_cols, axis=1, inplace=True)

X = pd.concat([df_cleaned, X_cat], axis=1)

from src.data.sets import split_sets_by_time, save_sets
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(X, target_col='pm2.5', test_ratio=0.2)

save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='../data/processed/')

#### didn't work on so many columns

In [27]:
df_cleaned['beer_style'] = le.fit_transform(df_cleaned['beer_style'])
df_cleaned['brewery_name'] = oe.fit_transform(df_cleaned['brewery_name'].values.reshape(-1,1))

In [28]:
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,1.307921,4886.0,0.125243,-3.239805,-2.511042,-2.198046,65,-3.317269,-3.161966,-0.879383,1.220545
1,1.307921,4886.0,0.139712,-1.148609,-1.792027,-1.384166,51,-1.109371,-1.103412,-0.362706,1.230967
2,1.307921,4886.0,0.139732,-1.148609,-1.792027,-1.384166,59,-1.109371,-1.103412,-0.233536,1.231059
3,1.307921,4886.0,0.124021,-1.148609,-1.073011,-0.570286,61,-1.845337,-1.103412,-0.879383,1.219764
4,-0.360576,1360.0,0.902161,0.245522,1.084037,0.243594,9,0.362560,0.955142,0.283141,1.996374

In [60]:
# INVERSE ENCODING
#df_cleaned['beer_style'] = le.inverse_transform(df_cleaned['beer_style'])
#df_cleaned['brewery_name'] = oe.inverse_transform(df_cleaned['brewery_name'].values.reshape(-1,1))

In [30]:
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,1.307921,4886.0,0.125243,-3.239805,-2.511042,-2.198046,65,-3.317269,-3.161966,-0.879383,1.220545
1,1.307921,4886.0,0.139712,-1.148609,-1.792027,-1.384166,51,-1.109371,-1.103412,-0.362706,1.230967
2,1.307921,4886.0,0.139732,-1.148609,-1.792027,-1.384166,59,-1.109371,-1.103412,-0.233536,1.231059
3,1.307921,4886.0,0.124021,-1.148609,-1.073011,-0.570286,61,-1.845337,-1.103412,-0.879383,1.219764
4,-0.360576,1360.0,0.902161,0.245522,1.084037,0.243594,9,0.362560,0.955142,0.283141,1.996374

In [32]:
from src.data.sets import split_sets_by_time, save_sets

In [33]:
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(df_cleaned, target_col='beer_style', test_ratio=0.2)

In [34]:
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='../data/processed/')

In [36]:
from src.models.null import NullModel

In [37]:
baseline_model = NullModel()
y_base = baseline_model.fit_predict(y_train)

In [39]:
from src.models.performance import print_reg_perf

In [49]:
print_reg_perf(y_base, y_train, set_name='Training')

RMSE Training: 33.19189161320156
MAE Training: 29.627530214496765

In [50]:
import torch
import torch.nn as nn
import torch.nn.functional as F

In [41]:
from src.models.pytorch import PytorchRegression

model = PytorchRegression(X_train.shape[1])

In [42]:
from src.models.pytorch import get_device

device = get_device()
model.to(device)

PytorchRegression(
  (layer_1): Linear(in_features=10, out_features=128, bias=True)
  (layer_out): Linear(in_features=128, out_features=1, bias=True)
)

In [43]:
print(model)

PytorchRegression(
  (layer_1): Linear(in_features=10, out_features=128, bias=True)
  (layer_out): Linear(in_features=128, out_features=1, bias=True)
)

In [52]:
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

In [47]:
from torch.utils.data import DataLoader

In [51]:
criterion = nn.MSELoss()

In [53]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [54]:
N_EPOCHS = 5
BATCH_SIZE = 32

In [55]:
from src.models.pytorch import train_regression, test_regression

for epoch in range(N_EPOCHS):
    train_loss, train_rmse = train_regression(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_rmse = test_regression(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tRMSE: {train_rmse:.1f}')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tRMSE: {valid_rmse:.1f}')

/opt/conda/lib/python3.7/site-packages/torch/nn/modules/loss.py:528: UserWarning: Using a target size (torch.Size([32])) that is different to the input size (torch.Size([32, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
/opt/conda/lib/python3.7/site-packages/torch/nn/modules/loss.py:528: UserWarning: Using a target size (torch.Size([23])) that is different to the input size (torch.Size([23, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
/opt/conda/lib/python3.7/site-packages/torch/nn/modules/loss.py:528: UserWarning: Using a target size (torch.Size([17])) that is different to the input size (torch.Size([17, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch: 0
	(train)	Loss: 43.8080	|	RMSE: 6.6
	(valid)	Loss: 34.2591	|	RMSE: 5.9
Epoch: 1
	(train)	Loss: 35.6331	|	RMSE: 6.0
	(valid)	Loss: 33.5282	|	RMSE: 5.8
Epoch: 2
	(train)	Loss: 35.2507	|	RMSE: 5.9
	(valid)	Loss: 33.5495	|	RMSE: 5.8
Epoch: 3
	(train)	Loss: 35.0295	|	RMSE: 5.9
	(valid)	Loss: 32.9426	|	RMSE: 5.7
Epoch: 4
	(train)	Loss: 34.8804	|	RMSE: 5.9
	(valid)	Loss: 33.7188	|	RMSE: 5.8

In [56]:
torch.save(model, "../models/pytorch_reg_beer_style.pt")

In [57]:
test_loss, test_rmse = test_regression(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tRMSE: {test_rmse:.1f}')

	Loss: 35.6418	|	RMSE: 6.0