In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [3]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [4]:
df.shape

(1586614, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [6]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [7]:
# review_overall shows 0 - does this mean it wasn't reviewed and can be excluded from model?
df.loc[df['review_overall']==0]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
37234,1413,Desert Edge Brewery,1030197670,0.0,2.0,0.0,beernut7,Czech Pilsener,3.0,2.0,Pub Pils,4.0,3806
39648,1413,Desert Edge Brewery,1030267158,0.0,4.0,0.0,beernut7,Irish Dry Stout,2.0,2.0,Latter Days Stout,4.0,3804
39667,1413,Desert Edge Brewery,1030266889,0.0,3.0,0.0,beernut7,American Pale Ale (APA),2.0,2.0,Utah Pale Ale,4.0,3810
653695,1412,Red Rock Brewing Company,1030007859,0.0,2.0,0.0,beernut7,Hefeweizen,2.5,2.0,Red Rock Bavarian Weiss,4.0,3788
653706,1412,Red Rock Brewing Company,1030008142,0.0,3.0,0.0,beernut7,American Amber / Red Ale,2.5,3.5,Red Rock Amber Ale,4.0,3787
653726,1412,Red Rock Brewing Company,1030007737,0.0,2.0,0.0,beernut7,German Pilsener,3.0,1.5,Red Rock Pilsner,4.0,3822
653740,1412,Red Rock Brewing Company,1030008039,0.0,2.0,0.0,beernut7,Dunkelweizen,2.5,2.0,Red Rock Dunkel Weizen,4.0,3786

In [8]:
df.isnull().any()

brewery_id            False
brewery_name           True
review_time           False
review_overall        False
review_aroma          False
review_appearance     False
review_profilename     True
beer_style            False
review_palate         False
review_taste          False
beer_name             False
beer_abv               True
beer_beerid           False
dtype: bool

In [9]:
df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [10]:
df.isnull().sum() * 100 / len(df)

brewery_id            0.000000
brewery_name          0.000945
review_time           0.000000
review_overall        0.000000
review_aroma          0.000000
review_appearance     0.000000
review_profilename    0.021934
beer_style            0.000000
review_palate         0.000000
review_taste          0.000000
beer_name             0.000000
beer_abv              4.272306
beer_beerid           0.000000
dtype: float64

In [11]:
# check for id column / unique column
for col in df:
    print(f'{col}: {df[col].is_unique}')

brewery_id: False
brewery_name: False
review_time: False
review_overall: False
review_aroma: False
review_appearance: False
review_profilename: False
beer_style: False
review_palate: False
review_taste: False
beer_name: False
beer_abv: False
beer_beerid: False

In [12]:
# unique values in each columns
for x in df.columns:
    #printing unique values
    print(x ,':', len(df[x].unique()))

brewery_id : 5840
brewery_name : 5743
review_time : 1577960
review_overall : 10
review_aroma : 9
review_appearance : 10
review_profilename : 33388
beer_style : 104
review_palate : 9
review_taste : 9
beer_name : 56857
beer_abv : 531
beer_beerid : 66055

In [13]:
# unique counts of target variable
print(df['beer_style'].unique())
df['beer_style'].value_counts().head(25)

['Hefeweizen' 'English Strong Ale' 'Foreign / Export Stout'
 'German Pilsener' 'American Double / Imperial IPA' 'Herbed / Spiced Beer'
 'Light Lager' 'Oatmeal Stout' 'American Pale Lager' 'Rauchbier'
 'American Pale Ale (APA)' 'American Porter' 'Belgian Strong Dark Ale'
 'American IPA' 'American Stout' 'Russian Imperial Stout'
 'American Amber / Red Ale' 'American Strong Ale' 'Märzen / Oktoberfest'
 'American Adjunct Lager' 'American Blonde Ale' 'Euro Pale Lager'
 'English Brown Ale' 'Scotch Ale / Wee Heavy' 'Fruit / Vegetable Beer'
 'American Double / Imperial Stout' 'Belgian Pale Ale' 'English Bitter'
 'English Porter' 'Irish Dry Stout' 'American Barleywine'
 'Belgian Strong Pale Ale' 'Doppelbock' 'Maibock / Helles Bock'
 'Pumpkin Ale' 'Dortmunder / Export Lager' 'Euro Strong Lager'
 'Euro Dark Lager' 'Low Alcohol Beer' 'Weizenbock'
 'Extra Special / Strong Bitter (ESB)' 'Bock'
 'English India Pale Ale (IPA)' 'Altbier' 'Kölsch' 'Munich Dunkel Lager'
 'Rye Beer' 'American Pale Wheat Ale' 'Milk / Sweet Stout' 'Schwarzbier'
 'Vienna Lager' 'American Amber / Red Lager' 'Scottish Ale' 'Witbier'
 'American Black Ale' 'Saison / Farmhouse Ale' 'English Barleywine'
 'English Dark Mild Ale' 'California Common / Steam Beer' 'Czech Pilsener'
 'English Pale Ale' 'Belgian IPA' 'Tripel' 'Flanders Oud Bruin'
 'American Brown Ale' 'Winter Warmer' 'Smoked Beer' 'Dubbel'
 'Flanders Red Ale' 'Dunkelweizen' 'Roggenbier'
 'Keller Bier / Zwickel Bier' 'Belgian Dark Ale' 'Bière de Garde'
 'Japanese Rice Lager' 'Black & Tan' 'Irish Red Ale' 'Chile Beer'
 'English Stout' 'Cream Ale' 'American Wild Ale'
 'American Double / Imperial Pilsner'
 'Scottish Gruit / Ancient Herbed Ale' 'Wheatwine'
 'American Dark Wheat Ale' 'American Malt Liquor' 'Baltic Porter'
 'Munich Helles Lager' 'Kristalweizen' 'English Pale Mild Ale'
 'Lambic - Fruit' 'Old Ale' 'Quadrupel (Quad)' 'Braggot'
 'Lambic - Unblended' 'Eisbock' 'Berliner Weissbier' 'Kvass' 'Faro'
 'Gueuze' 'Gose' 'Happoshu' 'Sahti' 'Bière de Champagne / Bière Brut']

American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
American Porter                      50477
American Amber / Red Ale             45751
Belgian Strong Dark Ale              37743
Fruit / Vegetable Beer               33861
American Strong Ale                  31945
Belgian Strong Pale Ale              31490
Saison / Farmhouse Ale               31480
American Adjunct Lager               30749
Tripel                               30328
Witbier                              30140
Hefeweizen                           27908
American Barleywine                  26728
American Brown Ale                   25297
American Stout                       24538
American Pale Wheat Ale              24204
Märzen / Oktoberfest                 23523
English Pale Ale                     23402
German Pilsener                      22155
Doppelbock                           21699
Winter Warmer                        20661
Name: beer_style, dtype: int64

In [36]:
df_cleaned = df.copy()

In [37]:
df_cleaned.drop(['review_profilename', 'beer_name'], axis=1, inplace=True)
df_cleaned.drop_duplicates(inplace= True)
df_cleaned.columns = df_cleaned.columns.str.strip()
#target = df_cleaned.pop('beer_style')

In [38]:
#df_cleaned['review_time']=pd.to_datetime(df_cleaned['review_time'],unit='s')

#print(df_cleaned.dtypes)

#df_cleaned.head()

In [39]:
# handle null values in brewery_name, beer_abv

#from sklearn.impute import SimpleImputer
#num_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#cat_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='Unknown')
#cat_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

#df_cleaned[['beer_abv']] = num_imputer.fit_transform(df_cleaned[['beer_abv']])
#df_cleaned[['brewery_name']] = cat_imputer.fit_transform(df_cleaned[[,'brewery_name']])

In [40]:
# handle null values in brewery_name, beer_abv

#df_cleaned['beer_abv'] = df_cleaned['beer_abv'].replace(np.nan, df_cleaned['beer_abv'].mean())
#df_cleaned['brewery_name'] = df_cleaned['brewery_name'].fillna('Unknown')

# OR DROP
df_cleaned.dropna(inplace=True)
df_cleaned.reset_index(drop=True, inplace=True)

In [41]:
df_cleaned.isnull().sum() * 100 / len(df_cleaned)

brewery_id           0.0
brewery_name         0.0
review_time          0.0
review_overall       0.0
review_aroma         0.0
review_appearance    0.0
beer_style           0.0
review_palate        0.0
review_taste         0.0
beer_abv             0.0
beer_beerid          0.0
dtype: float64

In [42]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [43]:
sc = StandardScaler()

In [44]:
num_cols = df_cleaned.select_dtypes([np.number]).columns
#df_cleaned.select_dtypes([np.number]).columns
#num_cols = ['brewery_id', 'review_time', 'review_overall', 'review_aroma',
 #      'review_appearance', 'review_palate', 'review_taste', 'beer_abv',
 #      'beer_beerid']

In [45]:
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

In [46]:
#le = LabelEncoder()
ohe = OneHotEncoder()

In [47]:
cat_cols = df_cleaned.select_dtypes(exclude=[np.number]).columns
#df_cleaned.select_dtypes(exclude=[np.number]).columns

In [48]:
# unique values in each columns
for x in df_cleaned[cat_cols].columns:
    #printing unique values
    print(x ,':', len(df_cleaned[x].unique()))

brewery_name : 5155
beer_style : 104

In [49]:
# volumes in top 25 breweries 
df_cleaned.brewery_name.value_counts().sort_values(ascending=False).head(100)

Boston Beer Company (Samuel Adams)    38812
Dogfish Head Brewery                  33800
Stone Brewing Co.                     33021
Sierra Nevada Brewing Co.             28637
Bell's Brewery, Inc.                  24975
                                      ...
Brouwerij Lindemans                    3645
Arcadia Brewing Company                3595
Long Trail Brewing Co.                 3468
Mendocino Brewing Company              3424
Tyranena Brewing Company               3415
Name: brewery_name, Length: 100, dtype: int64

In [28]:
#top_100 = [x for x in df_cleaned.brewery_name.value_counts().sort_values(ascending=False).head(100).index]

In [29]:
# data reduction when breweries not in top 100 are dropped?
# 1586614 to 886228 rows ~56% of dataset kept

# data reduction when breweries not in top 100 are dropped?
# 1586614 to 1438343 rows ~90% of dataset kept

#sorted(df_cleaned['brewery_name'].unique())
#df_cleaned.loc[df_cleaned['brewery_name'].isin(top_100)].shape

In [30]:
# make binary of labels
#for label in top_100:
#    df_cleaned[label] = np.where(df_cleaned['brewery_name']==label,1,0)
#df_cleaned[['brewery_name']+top_100]

In [ ]:
#df_cleaned['brewery_name'] = pd.get_dummies(df_cleaned['brewery_name'])

In [ ]:
df_cleaned = pd.concat([df_cleaned,pd.get_dummies(df_cleaned['brewery_name'], prefix='brewery_name')],axis=1)

In [1]:
df_cleaned.head()

NameError: name 'df_cleaned' is not defined

In [32]:
# pd.get_dummies(df_cleaned['brewery_name'])

#df_cleaned[cat_cols] = ohe.fit_transform(df_cleaned[cat_cols])
#X = ohe.fit_transform(df_cleaned.brewery_name.values().toarray()
                      
                      
X = ohe.fit_transform(df_cleaned.brewery_name.values.reshape(-1,1)).toarray()

#ohe.fit_transform(df_cleaned[cat_cols].values.reshape(-1,1))

#X_train_cleaned[cat_cols] = ohe.fit_transform(X_train_cleaned[cat_cols])
#encoder_dict = defaultdict(LabelEncoder)
#df_cleaned[cat_cols] = df.apply(lambda x: encoder_dict[x.name].fit_transform(x))

In [32]:
#df_cleaned[cat_cols] = df_cleaned[cat_cols].apply(le.fit_transform)

In [34]:
df_ohe = pd.DataFrame(X, columns = ["brewery_name_"+str(int(i)) for i in range(X.shape[1])])

In [36]:
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,1.307921,Vecchio Birraio,0.125243,-3.239805,-2.511042,-2.198046,Hefeweizen,-3.317269,-3.161966,-0.879383,1.220545
1,1.307921,Vecchio Birraio,0.139712,-1.148609,-1.792027,-1.384166,English Strong Ale,-1.109371,-1.103412,-0.362706,1.230967
2,1.307921,Vecchio Birraio,0.139732,-1.148609,-1.792027,-1.384166,Foreign / Export Stout,-1.109371,-1.103412,-0.233536,1.231059
3,1.307921,Vecchio Birraio,0.124021,-1.148609,-1.073011,-0.570286,German Pilsener,-1.845337,-1.103412,-0.879383,1.219764
4,-0.360576,Caldera Brewing Company,0.902161,0.245522,1.084037,0.243594,American Double / Imperial IPA,0.362560,0.955142,0.283141,1.996374

In [37]:
df_ohe.head()

,brewery_name_0,brewery_name_1,brewery_name_2,brewery_name_3,brewery_name_4,brewery_name_5,brewery_name_6,brewery_name_7,brewery_name_8,brewery_name_9,...,brewery_name_5145,brewery_name_5146,brewery_name_5147,brewery_name_5148,brewery_name_5149,brewery_name_5150,brewery_name_5151,brewery_name_5152,brewery_name_5153,brewery_name_5154
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
df_cleaned.reset_index(drop=True, inplace=True)
df_ohe.reset_index(drop=True, inplace=True)

In [ ]:
df_cleaned = pd.concat([df_cleaned, df_ohe], axis=1)
#droping the country column 
#df_cleaned = df_cleaned.drop(['brewery_name'], axis=1)

In [4]:
from src.data.sets import split_sets_by_time, save_sets

In [5]:
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'yellowbrick'